<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <title text-align="left">WZRDS</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="https://glitch-hello-website.glitch.me/" />
    <meta name="description" content="WZRDs stream by Okosroka." />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="WZRDS STREAM" />

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <!--
      This is the body of the page
      Look at the elements and see how they appear in the rendered page on the right
      Each element is defined using tags, with < and > indicating where each one opens and closes
      There are elements for sections of the page, images, text, and more
      The elements include attributes referenced in the CSS for the page style
    -->

    <!-- The wrapper and content divs set margins and positioning -->
    <div class="wrapper">
      <div class="content" role="main">
        <h2 text-align="center">
          WZRDS STREAM
        </h2>
        <iframe
          src="https://lvpr.tv?v=d25dw5yyyijjujuo"
          frameborder="0"
          allowfullscreen
          allow="autoplay; encrypted-media; picture-in-picture"
          sandbox="allow-scripts"
        >
        </iframe>

      </div>
      <p>
        <a href="/widget-price">SEE PRICE WIDGET</a><br />
      </p>

    </div>

  </body>
</html>